body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  background-image: url("/images/bg-mobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__box {
  width: 326px;
  height: 200px;
  border-radius: 10px 100px 10px 10px;
  margin: 7em 5% 0 3%;
  background-color: #1d2c67;
}

.main__logo {
  padding: 42px;
}

.main__icon--container {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  margin-left: 26px;
}

.main__icon {
  background-color: #0c122c;
  border: 12px solid #0c122c;
  border-radius: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-top: -15px;
}

.storage {
  border-radius: 10px;
  width: 326px;
  height: 160px;
  margin: 1.2em 5% 0 3%;
  background-color: #1d2c67;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.storage span {
  margin-top: 32px;
}

.storage__bar {
  width: 262px;
  height: 15px;
  border: 3px solid #0c122c;
  background: #0c122c;
  position: relative;
  margin-top: 20px;
  border-radius: 25px;
  align-self: center;
}
.storage__bar--fill {
  background: linear-gradient(to right, #ffa399, #ff4d97);
  width: 81.5%;
  height: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.storage__bar--indicator {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  background-color: white;
  margin-right: 2px;
}

.storage__bottom {
  display: flex;
  margin: -22px 8%;
  justify-content: space-between;
}

.storage__leftSpace {
  width: 180px;
  height: 70px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  color: #0c122c;
  top: 2em;
  position: relative;
  left: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.storage__leftSpace strong {
  font-size: 2.5em;
}
.storage__leftSpace small {
  color: #848794;
  font-weight: bold;
}

@media (min-width: 600px) {
  body {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background-image: url("/images/bg-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 32em;
    background-color: #0c122c;
  }

  .main {
    display: flex;
    flex-direction: row;
  }

  .main__box {
    width: 326px;
    height: 200px;
    border-radius: 10px 100px 10px 10px;
    margin: 25em 0 0 32em;
    background-color: #1d2c67;
  }

  .storage {
    border-radius: 10px;
    width: 720px;
    height: 160px;
    margin: 390px 5% 0 1.5%;
    background-color: #1d2c67;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .storage span {
    text-align: left;
    margin-top: 32px;
    margin-left: 60px;
  }
  .storage__bottom--start {
    margin-left: -57px;
  }

  .storage__bar {
    width: 82%;
    height: 15px;
    border: 3px solid #0c122c;
    background: #0c122c;
    position: relative;
    margin-top: 20px;
    border-radius: 25px;
    align-self: center;
  }
  .storage__bar--fill {
    background: linear-gradient(to right, #ffa399, #ff4d97);
    width: 81.5%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .storage__bar--indicator {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: white;
    margin-right: 2px;
  }

  .storage__leftSpace {
    width: 180px;
    height: 70px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    color: #0c122c;
    top: -10em;
    position: relative;
    left: 35em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .storage__leftSpace:after {
    content: "";
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 40px 0px 0 30px;
    position: absolute;
    top: 54px;
    left: 150px;
  }
}

/*# sourceMappingURL=styles.css.map */
